<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>org.example.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/say-hello</url-pattern> <!--say-hello-->
    </servlet-mapping>

    <servlet>
        <servlet-name>Params</servlet-name>
        <servlet-class>org.example.ParamsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Params</servlet-name>
        <url-pattern>/params</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Phrase</servlet-name>
        <servlet-class>org.example.anton.hw_15_05_24.PhraseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Phrase</servlet-name>
        <url-pattern>/say-phrase</url-pattern>
    </servlet-mapping>
</web-app>